.youtubeVideosWrapper {
  background-color: white;
  padding: 50px;
}

.singleVideoWrapper {
  background: white;
  box-shadow: 4px 0px 13px;
  margin-bottom: 30px;
  max-height: 393px;
  overflow: hidden;
}

.videoInfoWrapper {
  padding: 10px 20px;
  text-align: left;
}

.videoDesc {
  font-size: 0.6em;
  color: #676767;
}

.videoTitle a {
  color: black;
}

.videoTitle {
  font-weight: 700;
  line-height: 1.2em;
}
